.header {
    border-bottom: 2px solid #494949;
    padding: 7px;
    color: aliceblue;
    position: fixed;
    width: 100vw;
    font-family: Main;
    font-size: 0.7em;
    cursor: pointer;
}

.full_screen {
    font-size: 1em;
    margin-top: 6px;
    margin-left: 10px;
}
main {
    padding-top: 75px;
}

.reader {
    width: 95%;
    max-width: 550px;
    max-height: 88vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
    
}

.reader::-webkit-scrollbar {
    display: none;
}

.imgs {
    width: 100%;
    margin: 0;
}