.ubontu {
    font-family: ubontu;
  }
  
  
.main {
    margin-top: 20px;
    color : whitesmoke
  }
.input_box {
    border-color: rgb(213, 213, 213);
    width: 150px;
    padding: 7px;
    height: 13px; 
    border: 2px solid black; 
  }
  
input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
.go_box {
    margin-left: 8px;
    width: 31px;
    height: 31px;
    background-color: skyblue;
    color: white;
    border-radius: 100%;
    font-size: 1.5em;
    border-color: gray;
  }